format = """
$directory\
$git_branch\
$git_status\
$fill\
$cmd_duration\
$line_break\
$character"""

[directory]
style = "bold blue"
truncation_length = 3
truncate_to_repo = true

[git_branch]
style = "bold purple"
format = " [$branch]($style) "

[git_status]
style = "bold red"
format = "[$all_status$ahead_behind]($style)"

[fill]
symbol = " "

[cmd_duration]
min_time = 2000
style = "bold yellow"
format = "[$duration]($style)"

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"
